{
    "rules": {
        "no-invalid-this": "off",
        "node/no-unpublished-require":["off"]
    },
    "env": {
        "mocha": true
    },
    "globals": {
        "chai": true,
        "expect": true,
        "assert": true,
        "should": true
    }
}